body{
    margin: 0;
    background-color: blanchedalmond;
    font-family: AHintofSass;
    padding: 20px;
}
body h1{
    font-family: WITHOUT;
    font-size: 100px;
    margin: 30px;
}
body p{
    font-size: 40px;
    max-width: 70%;
    margin: 30px;
}
header{
    display: flex;
    min-height: 10%;
    background-color: #ebe7db;
    justify-content: space-between;
    position:fixe;
    width: 100%;
    border-radius: 10px;
}
header img{
    width: 150px;
}
@font-face {
    font-family: WITHOUT;
    src: url(WITHOUT.otf);
}
@font-face {
    font-family: AHintofSass;
    src: url(AHintofSass.ttf);
}
.menu{
    display: flex;
    list-style: none;
    align-items: center;
}
.menu a{
    font-family: WITHOUT;
    font-size: 50px;
    text-decoration: none;
    padding: 25px;
    border-radius: 10px;
    color: #94674c;
    transition: .7s;
}
header a:hover{
    background-color: #8bdba9;
}
@media (max-width:900px){
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0;
        padding: 7px;
    }
    header img{
        margin: 10px;
    }
    .menu a{
        padding: 7px;
        margin: 7px;
    }
    .img img{
        max-width: 100%;
    }
    body h1{
        font-size: 72px;
    }
    body p{
        font-size: 30px;
    }
}