body{
    margin: 0;
    background-color: blanchedalmond;
    font-family: cursive;
    padding: 20px;
}
body h1{
    font-family: WITHOUT;
    font-size: 100px;
    margin: 30px;
}
body p{
    font-size: 40px;
    max-width: 70%;
    margin: 30px;
}
header{
    display: flex;
    min-height: 10%;
    background-color: #ebe7db;
    justify-content: space-between;
    position:fixe;
    width: 100%;
    border-radius: 10px;
}
header img{
    width: 150px;
}
@font-face {
    font-family: WITHOUT;
    src: url(WITHOUT.otf);
}
.menu{
    display: flex;
    list-style: none;
    align-items: center;
}
.menu a{
    font-family: WITHOUT;
    font-size: 50px;
    text-decoration: none;
    padding: 25px;
    border-radius: 10px;
    color: #94674c;
    transition: .7s;
}
header a:hover{
    background-color: #8bdba9;
}
@media (max-width:700px){
    header{
        flex-direction: column;
    }
}
.img img{
    max-width: 100%;
}