body{
    margin: 0;
}
header{
    display: flex;
    min-height: 10%;
    background-color: #ebe7db;
    justify-content: space-between;
    position:fixe;
    width: 100%;
}
header img{
    width: 150px;
}
@font-face {
    font-family: WITHOUT;
    src: url(WITHOUT.otf);
}
.menu{
    display: flex;
    list-style: none;
    align-items: center;
}
.menu a{
    font-family: WITHOUT;
    font-size: 50px;
    text-decoration: none;
    padding: 25px;
    border-radius: 10px;
    color: #94674c;
    transition: .7s;
}
header a:hover{
    background-color: #8bdba9;
}
.img img{
    max-width: 100%;
}
.body{
    background-color: antiquewhite;
    margin:0;
    overflow:hidden;
    justify-content: center;
    margin-top: 0;
    animation-duration: .2s;
    animation-name: slide;
    display: flex;
    font-family:cursive;
    font-weight:normal;
    color: white;
    padding: 50px;
}
.mision{
    max-width: 20%;
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color:#8ab343;
    border-radius: 10px;
    font-size: 30px;
    margin: 50px;
}
.vision{
    max-width: 20%;
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: #6a7e48;
    border-radius: 10px;
    font-size: 30px;
    margin: 50px;
}
.objetivo{
    max-width: 20%;
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: #9bb391;
    border-radius: 10px;
    font-size: 30px;
    margin: 50px;
}
.body h1{
    font-family: cursive;
    font-size: 35px;
    color:#835030;
}
.pcolor{
    background-image: url(BCPALETA.png);
    background-size: 100%;
    overflow: hidden;
}
.pcolor h1{
    margin: 60px;
    color: #835030;
    font-family: cursive;
}
.c{
    display: flex;
    margin: 50px;
    padding: 50px;
}
.c1{
    background-color: #364024;
    padding: 50px;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    margin-left: 20px;
}
.c2{
    background-color: #6a7e48;
    padding: 50px;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    margin-left: 20px;
}
.c3{
    background-color: #9bb391;
    padding: 50px;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    margin-left: 20px;
}
.c4{
    background-color: #e3e7c9;
    padding: 50px;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    margin-left: 20px;
}
.product{
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    color: #835030;
    background-color: antiquewhite;
    overflow: hidden;
    width: 100%;
}
.P{
    padding: 50px;
    width: 100%;
}
.P img{
    margin: 20px;
}
.description{
    margin: 5px;
    padding: 10px;
}
.pie{
    background-color: #e3e7c9;
    padding: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.pie a{
    margin: 30px;
    text-decoration: none;
    font-weight: bold;
    color: #8ab343;
}
@media screen and (max-width: 900px){
    .menu img{
        align-items: center;
    }
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0;
        padding: 7px;
    }
    header img{
        margin: 10px;
    }
    .menu a{
        padding: 7px;
        margin: 7px;
    }
    .body{
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .body div{
        max-width: 80%;
    }
    .pcolor{
        text-align: center;
    }
    .c{
        display: block;
    }

    .c div{
        margin: 20px;
    }
    .P{
        display: block;
        align-items: center;
    } 
}